@charset "ISO-8859-1";


 #id1{
 border: 1px black;
  outline-style: outset;
  outline-color: gray;
  padding:6px;
 }

#id2{
	  border: 1px  black;
  outline-style: dotted;
  outline-color: green;
  
  
  }
  
 #id3{
 border: 1px black;
    outline-style: solid;
  outline-color: red;
  
 }
