@charset "ISO-8859-1";

#id1{
	border: 6px solid black;
	background-color:skyblue;
  
}

#id2{
	border: 3px solid black;
	background-color:skyblue;
  
}
#id3{
	border: 1px solid black;
	background-color:skyblue;
  
}